.messages-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.no-messages {
    text-align: center;
    padding: 20px;
    color: #757575;
}

.messages-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.loading-spinner {
    color: #757575;
}
